@import "../../styles/variables";

.pagination {
  display: flex;
  align-items: center;
  gap: 15px;

  &__btn-prev,
  &__btn-next {
    display: flex;
    border: 0;
    background: none;
    cursor: pointer;
  }

  &__btn-page {
    cursor: pointer;
    min-width: 38px;
    height: 45px;
    border-radius: 0;
    border: 1.5px solid #f7e8d7;
    background: none;
    font-family: "Roboto";
  }

  &__btn-next {
    transform: rotate(180deg);
  }

  &__btn-page--active {
    background-color: $brand;
    color: #fff;
    border: 0;
  }

  &__page-group {
    display: flex;
    align-items: center;
  }

  &__ellipsis {
    width: 38px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
