@import "@/styles/styles.css";
@import "@/styles/variables";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-s {
    margin: 4px;
    width: 16px;
    height: 16px;

    &.loader__spinner {
      border-width: 5px;
    }
  }

  &-m {
    margin: 8px;
    width: 32px;
    height: 32px;

    &.loader__spinner {
      border-width: 4px;
    }
  }

  &-l {
    margin: 10px;
    width: 40px;
    height: 40px;

    &.loader__spinner {
      border-width: 2px;
    }
  }

  &-xl {
    margin: 18px;
    width: 80px;
    height: 80px;

    &.loader__spinner {
      border-width: 6px;
    }
  }

  &__spinner {
    width: 100%;
    height: 100%;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-top-color: $accent;
    border-left-color: $accent;
    border-bottom-color: $accent;
    transform: rotate(35deg);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
