.src-components-Header-Header-module__root__wrapper{width:100%;height:64px;display:flex;justify-content:center;background-color:#fff;position:sticky;top:0;z-index:10}.src-components-Header-Header-module__root__content{width:calc(100% - 100px);display:flex;justify-content:space-between}.src-components-Header-Header-module__root__left{display:flex;align-items:center;gap:80px}.src-components-Header-Header-module__root__logo{display:flex;align-items:center;gap:20px}.src-components-Header-Header-module__root__navbar{display:flex;align-items:center;gap:16px}.src-components-Header-Header-module__root__actions{display:flex;align-items:center;gap:16px}.src-components-Header-Header-module__root__link{font-weight:400;font-size:16px;color:#000}.src-components-Header-Header-module__root__link-selected{font-weight:600;color:#b5460f}.src-components-Header-Header-module__root__link:hover{color:rgba(181,70,15,.7019607843)}.src-components-Header-Header-module__root__link:active{color:#b5460f}.src-components-Header-Header-module__root__icon-stroke{cursor:pointer}.src-components-Header-Header-module__root__icon-stroke:hover{stroke:rgba(181,70,15,.7019607843)}.src-components-Header-Header-module__root__icon-stroke:active{stroke:#872d01}.src-components-Header-Header-module__root__icon-fill{cursor:pointer}.src-components-Header-Header-module__root__icon-fill:hover{fill:rgba(181,70,15,.7019607843)}.src-components-Header-Header-module__root__icon-fill:active{fill:#872d01}
@font-face {
    font-family: 'Roboto';
    src: url(a25806274237d06e00a6.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(fc0337b9cf1cce2e6e1e.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(6cd35edfbc0d7a417131.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
$brand: #b5460f;
$brand-hover: #b5460fb3;
$brand-active: #872d01;

$primary: #000;
$secondary: #afadb5;
$accent: #b5460f;
$disabled: #d9d9d9;

$background: #fff0df;

$xxl: 44px;
$xl: 24px;
$l: 20px;
$m: 18px;
$s: 16px;
$xs: 14px;
$xxs: 12px;
$xxxs: 8px;

html,
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: #fff0df;

  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.src-components-Text-Text-module__text{font-family:"Roboto"}.src-components-Text-Text-module__text--primary{color:#000}.src-components-Text-Text-module__text--secondary{color:#afadb5}.src-components-Text-Text-module__text--accent{color:#b5460f}.src-components-Text-Text-module__text--red{color:red}.src-components-Text-Text-module__text--weight-normal{font-weight:400}.src-components-Text-Text-module__text--weight-medium{font-weight:500}.src-components-Text-Text-module__text--weight-semiBold{font-weight:600}.src-components-Text-Text-module__text--weight-bold{font-weight:700}.src-components-Text-Text-module__text--view-title{font-size:24px;font-weight:bold}.src-components-Text-Text-module__text--view-label{font-size:18px;font-weight:bold;padding-bottom:5px}.src-components-Text-Text-module__text--view-button{font-size:18px;text-transform:uppercase}.src-components-Text-Text-module__text--view-p-xxl{font-size:44px}.src-components-Text-Text-module__text--view-p-xl{font-size:24px}.src-components-Text-Text-module__text--view-p-l{font-size:20px}.src-components-Text-Text-module__text--view-p-m{font-size:18px}.src-components-Text-Text-module__text--view-p-s{font-size:16px}.src-components-Text-Text-module__text--view-p-xs{font-size:14px}.src-components-Text-Text-module__text--view-p-xxs{font-size:12px}
.src-components-icons-Icon-Icon-module__icon-primary{fill:#000}.src-components-icons-Icon-Icon-module__icon-secondary{fill:#afadb5}.src-components-icons-Icon-Icon-module__icon-accent{fill:#b5460f}.src-components-icons-Icon-Icon-module__icon-white{fill:#fff}.src-components-icons-Icon-Icon-module__icon-disabled{fill:rgba(0,0,0,.2)}.src-components-icons-Icon-Icon-module__icon-none{fill:none}.src-components-icons-Icon-Icon-module__icon-stroke-primary{stroke:#000}.src-components-icons-Icon-Icon-module__icon-stroke-secondary{stroke:#afadb5}.src-components-icons-Icon-Icon-module__icon-stroke-accent{stroke:#b5460f}.src-components-icons-Icon-Icon-module__icon-stroke-disabled{stroke:rgba(0,0,0,.2)}
.src-app-layout-RootLayout-module__background-image{position:absolute;right:0;top:0;z-index:0}.src-app-layout-RootLayout-module__root{position:absolute;right:0;top:0;z-index:0}
.src-components-Loader-Loader-module__root{display:flex;justify-content:center;align-items:center;position:relative}.src-components-Loader-Loader-module__root-s{margin:4px;width:16px;height:16px}.src-components-Loader-Loader-module__root-s.src-components-Loader-Loader-module__loader__spinner{border-width:5px}.src-components-Loader-Loader-module__root-m{margin:8px;width:32px;height:32px}.src-components-Loader-Loader-module__root-m.src-components-Loader-Loader-module__loader__spinner{border-width:4px}.src-components-Loader-Loader-module__root-l{margin:10px;width:40px;height:40px}.src-components-Loader-Loader-module__root-l.src-components-Loader-Loader-module__loader__spinner{border-width:2px}.src-components-Loader-Loader-module__root-xl{margin:18px;width:80px;height:80px}.src-components-Loader-Loader-module__root-xl.src-components-Loader-Loader-module__loader__spinner{border-width:6px}.src-components-Loader-Loader-module__root__spinner{width:100%;height:100%;border:4px solid rgba(0,0,0,0);border-radius:50%;border-top-color:#b5460f;border-left-color:#b5460f;border-bottom-color:#b5460f;transform:rotate(35deg);animation:src-components-Loader-Loader-module__spin 1s linear infinite}@keyframes src-components-Loader-Loader-module__spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.src-components-Loading-Loading-module__root{width:100%;height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center}.src-components-Loading-Loading-module__page{min-height:90vh}
@font-face {
    font-family: 'Roboto';
    src: url(a25806274237d06e00a6.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(fc0337b9cf1cce2e6e1e.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(6cd35edfbc0d7a417131.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
$brand: #b5460f;
$brand-hover: #b5460fb3;
$brand-active: #872d01;

$primary: #000;
$secondary: #afadb5;
$accent: #b5460f;
$disabled: #d9d9d9;

$background: #fff0df;

$xxl: 44px;
$xl: 24px;
$l: 20px;
$m: 18px;
$s: 16px;
$xs: 14px;
$xxs: 12px;
$xxxs: 8px;

html,body{font-family:"Roboto";margin:0;padding:0;background-color:#fff0df;scrollbar-width:none}*{box-sizing:border-box}h1,h2,h3,h4,h5,h6,p,blockquote,figure,pre{margin:0}a,a:hover{color:inherit;text-decoration:none}
@font-face{font-family:"Roboto";src:url(a25806274237d06e00a6.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:"Roboto";src:url(fc0337b9cf1cce2e6e1e.woff2) format("woff2");font-weight:500;font-style:normal;font-display:swap}@font-face{font-family:"Roboto";src:url(6cd35edfbc0d7a417131.woff2) format("woff2");font-weight:700;font-style:normal;font-display:swap}
