@import "@/styles/styles.css";
@import "@/styles/Roboto/fonts.css";
@import "@/styles/variables";

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  background-color: $brand;
  border: 1px solid $brand;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  cursor: pointer;
  z-index: 5;

  &-fill {
    background: none;
    border: 1px solid $brand;
    color: $brand;
    &:hover {
      color: white;
      border-color: $brand-hover;
    }
  }
  &-action:not(:disabled) {
    &:hover {
      background-color: $brand-hover;
      border-color: $brand-hover;
    }
    &:active {
      background-color: $brand-active;
      border-color: $brand-active;
    }
  }

  &.loading {
    background-color: $brand;
    &:hover,
    &:active {
      background-color: $brand;
    }
    &.root--disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }
  }
  &-disabled {
    background-color: $disabled;
    cursor: not-allowed;
  }
}
