$brand: #b5460f;
$brand-hover: #b5460fb3;
$brand-active: #872d01;

$primary: #000;
$secondary: #afadb5;
$accent: #b5460f;
$disabled: #d9d9d9;

$background: #fff0df;

$xxl: 44px;
$xl: 24px;
$l: 20px;
$m: 18px;
$s: 16px;
$xs: 14px;
$xxs: 12px;
$xxxs: 8px;
