$brand: #B5460F;
$brand-hover: #B5460FB3;
$brand-active: #872D01;

$primary: #000;
$secondary: #AFADB5;
$accent: #B5460F;
$disabled: #D9D9D9;

$xl: 24px;
$l: 20px;
$m: 16px;
$s: 14px;
$xs: 12px;
$xxs: 8px;