$brand: #B5460F;
$brand-hover: #B5460FB3;
$brand-active: #872D01;

$primary: #000;
$secondary: #AFADB5;
$accent: #B5460F;
$disabled: #D9D9D9;

$xxl: 44px;
$xl: 24px;
$l: 20px;
$m: 18px;
$s: 16px;
$xs: 14px;
$xxs: 12px;
$xxxs: 8px;