.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__input {
    width: 100%;
  }
  &__find {
    width: 100%;
    display: flex;
    gap: 19px;
  }
  &__select {
    display: flex;
    width: 30%;
    gap: 20px;
    align-self: flex-end;
  }
  &__filters {
    width: 50%;
  }
  &__button {
    width: 100%;
  }
}
