.root {
  width: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 50px 0 37px 0;
  position: relative;

  button {
    border: none;
    background: none;
    width: 32px;
    height: 32px;
  }
}
