@import "../../../styles/variables";
.recipe {
  &-root {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-center {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    gap: 48px;
    &-list {
      display: flex;
      gap: 50px;
      &--share {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
    }
  }
  &-ingredient {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.share {
  &-circle {
    width: 7px;
    height: 7px;
    background-color: $brand;
    border-radius: 50%;
  }
  &-line {
    width: 1px;
    height: 100%;
    background-color: $brand;
  }
}
