.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 53px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__step {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
