.directions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 53px;
  &-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-steps {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
    &-step {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
