@import "../../../../../styles/variables";

.summary {
  width: 100%;
  background-color: rgba($color: $brand, $alpha: 0.33);
  padding: 36px;
  border-radius: 10px;
  a {
    text-decoration: underline;
  }
}
